SpagoBIProject/wsdl/dataset.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobidataset" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobidataset" xmlns:intf="urn:spagobidataset" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.dataset.services.spagobi.eng.it" xmlns:tns3="http://bo.datasource.services.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.datasource.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobidataset"/>
   <import namespace="http://bo.dataset.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SpagoBiDataSource">
    <sequence>
     <element name="driver" nillable="true" type="soapenc:string"/>
     <element name="jndiName" nillable="true" type="soapenc:string"/>
     <element name="password" nillable="true" type="soapenc:string"/>
     <element name="url" nillable="true" type="soapenc:string"/>
     <element name="user" nillable="true" type="soapenc:string"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="hibDialectClass" nillable="true" type="soapenc:string"/>
     <element name="hibDialectName" nillable="true" type="soapenc:string"/>
     <element name="id" type="xsd:int"/>
     <element name="multiSchema" nillable="true" type="soapenc:boolean"/>
     <element name="schemaAttribute" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://bo.dataset.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobidataset"/>
   <import namespace="http://bo.datasource.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SpagoBiDataSet">
    <sequence>
     <element name="adress" nillable="true" type="soapenc:string"/>
     <element name="categoryId" nillable="true" type="soapenc:int"/>
     <element name="dataSource" nillable="true" type="tns3:SpagoBiDataSource"/>
     <element name="datamarts" nillable="true" type="soapenc:string"/>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="dsId" type="xsd:int"/>
     <element name="dsMetadata" nillable="true" type="soapenc:string"/>
     <element name="executorClass" nillable="true" type="soapenc:string"/>
     <element name="fileName" nillable="true" type="soapenc:string"/>
     <element name="javaClassName" nillable="true" type="soapenc:string"/>
     <element name="jsonQuery" nillable="true" type="soapenc:string"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="languageScript" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="numRows" type="xsd:boolean"/>
     <element name="operation" nillable="true" type="soapenc:string"/>
     <element name="parameters" nillable="true" type="soapenc:string"/>
     <element name="pivotColumnName" nillable="true" type="soapenc:string"/>
     <element name="pivotColumnValue" nillable="true" type="soapenc:string"/>
     <element name="pivotRowName" nillable="true" type="soapenc:string"/>
     <element name="query" nillable="true" type="soapenc:string"/>
     <element name="script" nillable="true" type="soapenc:string"/>
     <element name="transformerId" nillable="true" type="soapenc:int"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="customData" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:spagobidataset" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.dataset.services.spagobi.eng.it"/>
   <import namespace="http://bo.datasource.services.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_SpagoBiDataSet">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SpagoBiDataSet[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllDataSetResponse">

      <wsdl:part name="getAllDataSetReturn" type="impl:ArrayOf_tns2_SpagoBiDataSet"/>

   </wsdl:message>

   <wsdl:message name="getDataSetByLabelResponse">

      <wsdl:part name="getDataSetByLabelReturn" type="tns2:SpagoBiDataSet"/>

   </wsdl:message>

   <wsdl:message name="getDataSetResponse">

      <wsdl:part name="getDataSetReturn" type="tns2:SpagoBiDataSet"/>

   </wsdl:message>

   <wsdl:message name="getAllDataSetRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDataSetByLabelRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getDataSetRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="DataSetService">

      <wsdl:operation name="getDataSet" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getDataSetRequest" name="getDataSetRequest"/>

         <wsdl:output message="impl:getDataSetResponse" name="getDataSetResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDataSetByLabel" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getDataSetByLabelRequest" name="getDataSetByLabelRequest"/>

         <wsdl:output message="impl:getDataSetByLabelResponse" name="getDataSetByLabelResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllDataSet" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAllDataSetRequest" name="getAllDataSetRequest"/>

         <wsdl:output message="impl:getAllDataSetResponse" name="getAllDataSetResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataSetServiceSoapBinding" type="impl:DataSetService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDataSet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDataSetByLabel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSetByLabelRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSetByLabelResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllDataSet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllDataSetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllDataSetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobidataset" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataSetServiceService">

      <wsdl:port binding="impl:DataSetServiceSoapBinding" name="DataSetService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/DataSetService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
