SpagoBIJPaloEngineOld/war/WEB-INF/lib/datasourcesconfig.dtd

<!--
     This dtd file was automatically generated from XOM model datasourcesconfig.
     Do not edit this file by hand.
  -->

<!--
     This is the XML model for XMLA DataSources Configuration.
     Revision is $Id: //open/mondrian/src/main/mondrian/xmla/DataSourcesConfig.xml#4 $
  -->
<!--
     The list of data sources supported by XMLA service.
  -->
<!ELEMENT DataSources ((DataSource)*)>

<!--
     Definition of a data source.
  -->
<!ELEMENT DataSource (DataSourceName,DataSourceDescription,URL,DataSourceInfo,ProviderName,ProviderType,AuthenticationMode,Catalogs)>

<!ELEMENT DataSourceName (#PCDATA)>

<!ELEMENT DataSourceDescription (#PCDATA)>

<!ELEMENT URL (#PCDATA)>

<!ELEMENT DataSourceInfo (#PCDATA)>

<!ELEMENT ProviderName (#PCDATA)>

<!ELEMENT ProviderType (#PCDATA)>

<!ELEMENT AuthenticationMode (#PCDATA)>

<!ELEMENT Definition (#PCDATA)>

<!--
     The list of catalogs associated with a data source.
  -->
<!ELEMENT Catalogs ((Catalog)*)>

<!ELEMENT Catalog (DataSourceInfo?,Definition)>
<!ATTLIST Catalog
name CDATA #REQUIRED
>

